WinTestService/Service References/TransfFilesSrvRef/MyServiceTranferFiles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyServiceTranferFiles" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60966/MyServiceTranferFiles.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60966/MyServiceTranferFiles.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60966/MyServiceTranferFiles.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyServiceTranferFiles_Download_InputMessage">
    <wsdl:part name="parameters" element="tns:Download" />
  </wsdl:message>
  <wsdl:message name="IMyServiceTranferFiles_Download_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="IMyServiceTranferFiles_Upload_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="IMyServiceTranferFiles_Upload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="IMyServiceTranferFiles_StoreToDb_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreToDb" />
  </wsdl:message>
  <wsdl:message name="IMyServiceTranferFiles_StoreToDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreToDbResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyServiceTranferFiles">
    <wsdl:operation name="Download">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyServiceTranferFiles/Download" message="tns:IMyServiceTranferFiles_Download_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyServiceTranferFiles/DownloadResponse" message="tns:IMyServiceTranferFiles_Download_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyServiceTranferFiles/Upload" message="tns:IMyServiceTranferFiles_Upload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyServiceTranferFiles/UploadResponse" message="tns:IMyServiceTranferFiles_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreToDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyServiceTranferFiles/StoreToDb" message="tns:IMyServiceTranferFiles_StoreToDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyServiceTranferFiles/StoreToDbResponse" message="tns:IMyServiceTranferFiles_StoreToDb_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyServiceTranferFiles" type="tns:IMyServiceTranferFiles">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Download">
      <soap:operation soapAction="http://tempuri.org/IMyServiceTranferFiles/Download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/IMyServiceTranferFiles/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreToDb">
      <soap:operation soapAction="http://tempuri.org/IMyServiceTranferFiles/StoreToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyServiceTranferFiles">
    <wsdl:port name="BasicHttpBinding_IMyServiceTranferFiles" binding="tns:BasicHttpBinding_IMyServiceTranferFiles">
      <soap:address location="http://localhost:60966/MyServiceTranferFiles.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>